body{
    background-color: rgb(138, 221, 138);
}

img{
    box-sizing: border-box;
      
    border-radius:  150px;;
    display: block;
    margin-right: auto;
    margin-left: 34%; 
}
h1{
    text-align: center;
    font-size: 500%;
}
h2{
    text-align: center;
    font-size: 300%;
}
